@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=M+PLUS+Rounded+1c&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
body {
  background-color: #cccccc6b; 
 
}
.topbar {
  background-color: #046ce2;
  color: white;
  padding: 3px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.topbar h4 {
  font-weight: bold;
}
.topbar span p {
  margin: 0;
  font-size: 12px;
  font-weight: bold;
  color: #ffffff;
}
.topbar span {
  display: flex;
  align-items: center;
  gap: 8px;
}
.topbar img {
  width: 18px;
  height: 18px;  
  border-radius: 50%;  
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fffdfd;
  min-width: 120px;
  z-index: 1;
}

.dropdown-content li a {
  padding: 8px 8px;
  display: block;
  color: rgba(5, 5, 5, 0.637);
  text-decoration: none;
  font-size: 11px;
}

.dropdown-content li a:hover {
  background-color: #046ce2;
  color: #fffdfd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

nav{
  background: white;   
  padding: 7px 0;
  padding: 4px 25px;
  display: flex;
  gap: 8px; 
  align-items: center;
  z-index: 1000;  
  box-shadow: 2px 2px 2px 1px rgba(2, 112, 163, 0.295);
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0px;
  margin: 0;
  list-style: none;
}
nav ul li {
  position: relative;
}

nav  .dropdown:hover{
  transform: scale(1.1);
}

nav ul a {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  font-weight: 600;
  color: #034085b6;
  text-decoration: none;
  gap: 2px;
}
nav ul img{
  width: 20px;
  height: 20px;
}
.main_container {
  margin-left: 1px;  
  padding: 12px;
  
}
.main_container h1 {
  margin-left: 600px;
  margin-top: 200px;
}

nav ul li .active {
 font-weight: 800;
}