@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
body {
  margin: 0;
  font-family: "Roboto Mono", monospace;
  background: #ddd;
}

.topbar {
  background: #b40000;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
}

.user-icon {
  width: 36px;
  height: 36px;
  border-radius: 30%;
  padding: 2px;
}
.top-icons {
  display: flex;
  gap: 12px;
}
.icon-btn {
  width: 28px;
  height: 28px;
  cursor: pointer;
}
.signout-btn{
  background:none;
  border: none;
}

.main-cont {
    display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  max-height: 90vh;
}
.profile-logo{
  padding: 50px 50px;
  width: 100%;
  max-width: 380px;
  height: 70vh;
  text-align: center;
}
.logo-circle {
  width: 110px;
  height: 110px;
  background: #bbbbbb;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;  
  margin: 0 auto 10px;
}
.user-detl{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: start;
}

.user-detl p{
    font-size: 18px;
    font-weight: bold;
    padding: 8px;
}
.user-detl p span{
    font-size: 20px;
    text-transform: uppercase;
}



.content {
  padding: 1px;
}

.logo-circle img {
    height: 70px;
}